{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% include 'partials/flashes/success.html.twig' %}

        {# Titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">lqsdfgsdgsdqdfhdqfh</h1>
        </div>

    </div>
{% endblock %}
